.navbutton {
    background-color: lawngreen;
    padding: 11px 25px;
    display: inline-block;
    width: 100px;
    text-align: center;
    position: relative;
}

/* This turns the drop down off when not used  */

.dropdown-box {
    display: none;
    position: absolute;
    z-index: 99;
    padding-top: 20px;
    margin-left: -30px;
}

.navbutton:hover .dropdown-box {
    display: block;
}

.dropdown-box .navbutton {
    background-color: cadetblue;
}

.dropdown-box .navbutton:hover {
    background-color: rgba(238, 38, 238, 0.74);
    transition-duration: 1sec;
}